@import 'typography';
h1,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-bold';
}

h2,
input,
select {
    font-family: 'Montserrat';
}

p,
a {
    font-family: 'Montserrat';
    line-height: 1.5;
    letter-spacing: 0.1em;
}

body,
html {
    scroll-behavior: smooth;
}

button,
.button,
.button.alt,
.single-product__order-button {
    background: $color-main-teal;
    color: #fff;
    a {
        color: #fff;
        font-weight: normal;
        font-family: 'Montserrat';
    }
}

button:hover {
    opacity: 0.9;
}

.wp-block-column h2::before,
.wp-block-column h2::after {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    width: 9rem;
    margin: 0 2rem;
    transform: translateY(-10px);
}