@import 'typography';
@import 'mixins';
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-bold';
}

h1,
h2,
input,
select {
    @include primary-font;
}

p,
a {
    @include primary-font;
    @include paragraph;
}

.page-title,
.entry-title {
    text-align: center;
}

body,
html {
    scroll-behavior: smooth;
}

button,
.button,
.button.alt,
.single-product__order-button {
    @include button;
    a {
        color: #fff;
        font-weight: normal;
    }
}

button:hover {
    opacity: 0.9;
}

.white {
    @include title-above-images;
}

h2.has-text-align-center::before,
h2.has-text-align-center::after,
.page-title::before,
.page-title::after,
.entry-title::before,
.entry-title::after {
    @include title-transform;
}

.product_title::before,
.product_title::after {
    display: unset;
    border-top: none;
    width: unset;
    margin: unset;
    content: unset;
    transform: unset;
}

.product_title {
    text-align: unset;
}

@media (max-width: 1024px) {
    .wp-block-column h2::before,
    .wp-block-column h2::after {
        width: 4rem;
    }
}