@import 'typography';
@import 'mixins';
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}

h1,
h2,
input,
select,
label,
div,
.woocommerce-breadcrumb {
    @include primary-font;
}

.woocommerce-breadcrumb a:first-of-type:before {
    display: none;
}

p,
a {
    @include primary-font;
    @include paragraph;
}

.page-title,
.entry-title {
    text-align: center;
}

body,
html {
    scroll-behavior: smooth;
}

button,
.button,
.button.alt,
.single-product__order-button {
    @include button;
    a {
        color: #fff;
        font-weight: normal;
    }
}

button:hover {
    opacity: 0.9;
}

.white {
    @include title-above-images;
    // background-color: #6fa9b666;
}

h2.has-text-align-center::before,
h2.has-text-align-center::after,
.page-title::before,
.page-title::after,
.entry-title::before,
.entry-title::after {
    @include title-transform;
}

.product_title::before,
.product_title::after {
    display: unset;
    border-top: none;
    width: unset;
    margin: unset;
    content: unset;
    transform: unset;
}

.product_title {
    text-align: unset;
}

.entry-content .has-text-align-center {
    text-align: center;
    line-height: 1.8;
    letter-spacing: 0.1em;
    font-family: "Montserrat";
    max-width: 723px;
    margin: auto;
}

@media (max-width: 1024px) {
    .wp-block-column h2::before,
    .wp-block-column h2::after,
    .page-title::before,
    .page-title::after,
    .entry-title::before,
    .entry-title::after {
        width: 4rem;
    }
}

@media (max-width: 720px) {
    .wp-block-column h2::before,
    .wp-block-column h2::after,
    .page-title::before,
    .page-title::after,
    .entry-title::before,
    .entry-title::after {
        content: "\A";
        width: 6px;
        height: 5px;
        border-radius: 50%;
        background: #000;
        display: inline-block;
        margin: 0 15px;
    }
}