span.count {
    margin-right: 1em;
}

.home.page:not(.page-template-template-homepage) .site-header {
    margin-bottom: 0em;
}

.site-branding .site-title a {
    font-size: 40px;
    font-family: 'Montserrat';
    letter-spacing: unset;
}

.site-search form {
    margin-top: 10px;
}

.menu li.menu-item a:hover {
    color: $color-main-teal;
}

.storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
    float: right;
    margin-right: 0;
    margin-top: 1em;
    display: none;
}

// .woocommerce-product-search {
//     display: none;
// }
// .primary-navigation {
//     display: none;
// }
.site-header {
    border-bottom: none;
    padding-top: 1em;
}

section.hero__wrapper {
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-content {
    height: 100%;
    width: 1150px;
    align-items: center;
    display: flex;
}

.button__wrapper {
    margin-left: 3em;
    margin-bottom: 10em;
}

.hero-button {
    min-width: 200px;
    height: 65px;
    a {
        text-transform: uppercase;
        font-weight: 600;
    }
}

@media (max-width: 720px) {
    .primary-navigation {
        display: block;
    }
    button.menu-toggle {
        border: none;
        width: 50px;
    }
    section.hero__wrapper {
        background-size: cover;
        background-position: right;
    }
    .site-branding .site-title a {
        font-size: 60px;
    }
    .handheld-navigation {
        display: none;
    }
    .main-menu-2 {
        display: none;
    }
}