section.product-categories {
    min-height: 400px;
    display: flex;
    column-gap: 2em;
    justify-content: center;
}

.product-category {
    width: 600px;
    height: 500px;
    background-position: center !important;
    background-size: contain !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat !important;
}

.product-category p {
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 10px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

ul#menu-product-order-button {
    list-style-type: none;
}

ul.menu-product-order-button li a {
    color: $color-main-teal;
}

.single-product__order-button a {
    cursor: pointer;
}

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
    color: unset;
}

.one-column-products {
    display: flex;
    flex-direction: column;
}

.one-column-product {
    display: flex;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: solid 1px $color-main-teal;
    img {
        /* height: auto; */
        max-width: 100%;
        width: 85%;
        object-fit: cover;
        object-position: top;
    }
}

.one-column-product a {
    width: 50%;
}

.one-column-product__description {
    width: 50%;
    h2 {
        margin-top: 1em;
    }
}

.read-more__button {
    background: $color-main-teal;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    letter-spacing: inherit;
    margin-top: 2em;
}

.description {
    text-align: center;
    @include paragraph;
    font-size: 1.1em;
    max-width: 723px;
    margin: auto;
}

nav#product-cat-nav-menu {
    height: 100px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 24, 24);
    color: #fff;
}

.menu-product-categories-container {
    width: 100%;
}

#menu-product-categories {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: auto;
}

.woocommerce-info {
    background-color: $color-main-teal;
}

p.woocommerce-result-count {
    display: none;
}

.storefront-full-width-content .woocommerce-products-header {
    text-align: initial;
}

.woocommerce-message {
    background-color: $color-main-teal;
}

span.onsale {
    position: absolute;
    top: 0;
    left: 0;
    background: #c2b0a6;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 0.5rem 1rem;
}

.woocommerce-Price-amount {
    @include primary-font;
}

.single-product div.product p.price {
    color: $color-main-teal;
    font-weight: bold;
}

.price {
    color: $color-main-teal;
    font-weight: bold;
    font-size: 18px;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .one-column-product {
        flex-direction: column;
    }
    .one-column-product__description {
        width: 100%;
        margin-top: 2em;
    }
    .one-column-product a {
        width: 100%;
    }
    .storefront-sorting {
        margin-bottom: 3em !important;
        margin-top: 6em;
    }
    .one-column-product img {
        width: 100%;
    }
}