section.product-categories {
    min-height: 400px;
    display: flex;
    column-gap: 2em;
    justify-content: center;
}

.product-category {
    width: 600px;
    height: 500px;
    background-position: center !important;
    background-size: contain !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat !important;
}

.product-category p {
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 10px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

ul#menu-product-order-button {
    list-style-type: none;
}

ul.menu-product-order-button li a {
    color: $color-main-teal;
}

.single-product__order-button a {
    cursor: pointer;
}

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
    color: unset;
}

.canvas-products {
    display: flex;
    flex-direction: column;
}

.canvas-product {
    display: flex;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: solid 1px $color-main-teal;
}

.canvas-product a {
    width: 50%;
}

.product-canvas__description {
    width: 50%;
}

.read-more__button {
    background: $color-main-teal;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    letter-spacing: inherit;
}

.description {
    text-align: center;
    @include paragraph;
    font-size: 1.1em;
    max-width: 723px;
    margin: auto;
}

nav#product-cat-nav-menu {
    height: 100px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(24, 24, 24);
    color: #fff;
}

.menu-product-categories-container {
    width: 100%;
}

#menu-product-categories {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: auto;
}

.woocommerce-info {
    background-color: $color-main-teal;
}

form#filterproducts {
    display: flex;
    align-items: center;
}

p.woocommerce-result-count {
    display: none;
}

.storefront-full-width-content .woocommerce-products-header {
    text-align: initial;
}

.filter-select__container {
    display: flex;
    column-gap: 1em;
}

.filter-buttons__container {
    display: flex;
    margin-left: 2em;
    column-gap: 1em;
    width: 100%;
    justify-content: space-between;
}

input.clear {
    background-color: unset;
    border: none;
    color: unset;
}

input.clear:hover {
    background-color: unset;
    border: none;
    color: unset;
}

#menu-product-order-button {
    margin: 0;
}

.order-details__wrapper {
    label {
        display: flex;
        flex-direction: column;
    }
    input.wpcf7-form-control.wpcf7-submit {
        margin-top: 2em;
    }
    input.wpcf7-form-control.wpcf7-text {
        width: 100%;
    }
}

.woocommerce-message {
    background-color: $color-main-teal;
}

@media (max-width: 720px) {
    .canvas-product {
        flex-direction: column;
    }
    .product-canvas__description {
        width: 100%;
    }
    .canvas-product a {
        width: 100%;
    }
    select#stil,
    select#color,
    select#size {
        width: 33%;
        display: flex;
    }
    form#filterproducts {
        flex-direction: column;
        align-items: unset;
    }
    .filter-buttons__container {
        flex-direction: column;
        margin-left: unset;
    }
    input.filter {
        width: 100%;
        margin-top: 2em;
    }
}