.product-categories {
    min-height: 400px;
    display: flex;
    column-gap: 2em;
    justify-content: center;
}

.product-category {
    width: 600px;
    height: 500px;
    background-position: center !important;
    background-size: contain !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat !important;
}

.product-category p {
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 10px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}