.sale-flash__card {
    text-align: center;
    padding: 2em;
    width: 30%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 48px;
        font-weight: bold;
        margin: 0;
    }
}

.sale-flash__wrapper {
    display: flex;
    justify-content: space-around;
}

.gallery-images {
    display: flex;
    margin-top: 1em;
    column-gap: 1em;
}

.gallery-image {
    object-fit: cover;
    object-position: center;
    height: 430px;
    width: 50%;
}

.banner {
    display: flex;
    justify-content: center;
    background: $color-main-teal;
    padding: 20px;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

@media (max-width: 720px) {
    .sale-flash__wrapper {
        flex-direction: column;
    }
    .sale-flash__card {
        width: 100%;
    }
}