.sale-flash__card {
    text-align: center;
    padding: 2em;
    width: 30%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 48px;
        font-weight: bold;
        margin: 0;
    }
}

.sale-flash__wrapper {
    display: flex;
    justify-content: space-around;
}

.gallery-images {
    margin-top: 1em;
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
    align-items: center;
}

.gallery-image {
    min-height: 600px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
}

.gallery-image:nth-child(3n+3) {
    width: 100%;
    margin-top: 1em;
}

.gallery-title {
    text-transform: uppercase;
    font-family: Montserrat;
    color: white;
}

.gallery-content {
    text-align: center;
    button {
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: normal;
    }
}

.banner {
    display: flex;
    justify-content: center;
    background: $color-main-beige;
    padding: 20px;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    width: 100%;
}

@media (max-width: 720px) {
    .sale-flash__wrapper {
        flex-direction: column;
    }
    .sale-flash__card {
        width: 100%;
    }
}